@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";

* {
    font-family: "Poppins";
}

h1 {
    font-size: 44px;
    font-weight: 600;
    line-height: 56px;
    color: #3F3A64;
}

h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
    color: #3F3A64;
}

h3 {
    font-size: 46px;
    font-weight: 400;
    color: #4BAF97;
}

h4 {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #696969;
}

h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #8C89A2;
}